<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Resource || bizgrow || HTML 5 Template </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">
    <meta name="description" content="bizgrow HTML 5 Template ">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

    <link href="../../../css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link href="../../../css2-1?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css">
    <link rel="stylesheet" href="assets/vendors/animate/custom-animate.css">
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/vendors/jarallax/jarallax.css">
    <link rel="stylesheet" href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css">
    <link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css">
    <link rel="stylesheet" href="assets/vendors/swiper/swiper.min.css">
    <link rel="stylesheet" href="assets/vendors/bizgrow-icons/style.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/vendors/ion.rangeSlider/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="assets/vendors/timepicker/timePicker.css">

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/bizgrow.css">
    <link rel="stylesheet" href="assets/css/bizgrow-responsive.css">
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        <header class="main-header-two">
            <nav class="main-menu main-menu-two">
                <div class="main-menu-two__wrapper">
                    <div class="container">
                        <div class="main-menu-two__wrapper-inner">
                            <div class="main-menu-two__logo">
                                <a href="index.html"><img src="assets/images/resources/logo-1.png" alt=""></a>
                            </div>
                            <div class="main-menu-two__top">
                                <div class="main-menu-two__top-inner">
                                    <ul class="list-unstyled main-menu-two__contact-list">
                                        <li>
                                            <div class="icon">
                                                <i class="icon-telephone-call"></i>
                                            </div>
                                            <div class="text">
                                                <p><a href="tel:1550250 5260">+1 (550) 250 5260</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="icon-mail"></i>
                                            </div>
                                            <div class="text">
                                                <p><a href="mailto:info@bizgrowa24.com">info@bizgrowa24.com</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="main-menu-two__top-right">
                                        <div class="main-menu-two__top-time">
                                            <div class="main-menu-two__top-time-icon">
                                                <span class="icon-history"></span>
                                            </div>
                                            <p class="main-menu-two__top-text">Mon - Fri: 09:00 - 05:00</p>
                                        </div>
                                        <div class="main-menu-two__social">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-facebook"></i></a>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-menu-two__bottom">
                                <div class="main-menu-two__main-menu-box">
                                    <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                    <ul class="main-menu__list">
                                        <li class="dropdown">
                                            <a href="index.html">Home </a>
                                            <ul>
                                                <li><a href="index.html">Home One</a></li>
                                                <li><a href="index2.html">Home Two</a></li>
                                                <li><a href="index3.html">Home Three</a></li>
                                                <li><a href="index4.html">Home Four</a></li>
                                                <li class="dropdown">
                                                    <a href="#">One Page Styles</a>
                                                    <ul>
                                                        <li><a href="index-one-page.html">Home One</a></li>
                                                        <li><a href="index2-one-page.html">Home Two</a></li>
                                                        <li><a href="index3-one-page.html">Home Three</a></li>
                                                        <li><a href="index4-one-page.html">Home Four</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Dark Page Style</a>
                                                    <ul>
                                                        <li><a href="index-dark.html">Home Dark</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="about.html">About</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Pages</a>
                                            <ul>
                                                <li><a href="team.html">Team</a></li>
                                                <li><a href="team-carousel.html">Team Carousel</a></li>
                                                <li><a href="team-details.html">Team Details</a></li>
                                                <li><a href="testimonials.html">Testimonials</a></li>
                                                <li><a href="testimonials-carousel.html">Testimonials Carousel</a></li>
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="pricing-carousel.html">Pricing Carousel</a></li>
                                                <li><a href="gallery.html">Gallery</a></li>
                                                <li><a href="gallery-carousel.html">Gallery Carousel</a></li>
                                                <li><a href="faq.html">Faq</a></li>
                                                <li><a href="404.html">404 Error</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Services</a>
                                            <ul>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="services-carousel.html">Services Carosuel</a></li>
                                                <li><a href="service-details-1.html">Service Details 01</a></li>
                                                <li><a href="business-planning.html">Business Planning</a></li>
                                                <li><a href="human-resource.html">Human Resource</a></li>
                                                <li><a href="market-analysis.html">Market Analysis</a></li>
                                                <li><a href="startup-business.html">Startup Business</a></li>
                                                <li><a href="programe-manager.html">Programe manager</a></li>
                                                <li><a href="investment-policy.html">Investment Policy</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Cases</a>
                                            <ul>
                                                <li><a href="case-studie-1.html">Case 01</a></li>
                                                <li><a href="case-studie-2.html">Case 02</a></li>
                                                <li><a href="case-studie-carousel.html">Case Carousel</a></li>
                                                <li><a href="case-details.html">Case Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Blog</a>
                                            <ul>
                                                <li class="dropdown">
                                                    <a href="#">Blog</a>
                                                    <ul>
                                                        <li><a href="blog.html">No Sidebar</a></li>
                                                        <li><a href="blog-left.html">Left Sidebar</a></li>
                                                        <li><a href="blog-right.html">Right Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Blog List</a>
                                                    <ul>
                                                        <li><a href="blog-list.html">No Sidebar</a></li>
                                                        <li><a href="blog-list-left.html">Left Sidebar</a></li>
                                                        <li><a href="blog-list-right.html">Right Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="blog-carousel.html">Blog Carousel</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-menu-two__search-and-btn-box">
                                    <div class="main-menu-two__search-box">
                                        <a href="#" class="main-menu-two__search search-toggler icon-search-interface-symbol"></a>
                                    </div>
                                    <div class="main-menu-two__btn-box">
                                        <a href="contact.html" class="main-menu-two__btn thm-btn"><span class="icon-right-arrow"></span> Free Quote</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu main-menu-two">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->


        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <div class="thm-breadcrumb__box">
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a href="index.html">Home</a></li>
                            <li><span>-</span></li>
                            <li><a href="services.html">Services</a></li>
                            <li><span>-</span></li>
                            <li>Human Resource</li>
                        </ul>
                    </div>
                    <h2>Human Resource</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Services Details Start-->
        <section class="services-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <div class="services-details__left">
                            <div class="services-details__services-box">
                                <ul class="services-details__services-list list-unstyled">
                                    <li>
                                        <a href="business-planning.html">Business Planning<span class="icon-right-arrow-1"></span></a>
                                    </li>
                                    <li class="active">
                                        <a href="human-resource.html">Human Resource<span class="icon-right-arrow-1"></span></a>
                                    </li>
                                    <li>
                                        <a href="market-analysis.html">Market Analysis<span class="icon-right-arrow-1"></span></a>
                                    </li>
                                    <li>
                                        <a href="startup-business.html">Startup Business<span class="icon-right-arrow-1"></span></a>
                                    </li>
                                    <li>
                                        <a href="programe-manager.html">Programe manager<span class="icon-right-arrow-1"></span></a>
                                    </li>
                                    <li>
                                        <a href="investment-policy.html">Investment Policy<span class="icon-right-arrow-1"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="services-details__contact">
                                <h3 class="services-details__contact-title">Contact us</h3>
                                <ul class="services-details__contact-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-location"></span>
                                        </div>
                                        <p>915 Hill Street, USA</p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-phone-call"></span>
                                        </div>
                                        <p><a href="tel:+13330000000">+1(333) 000-0000</a></p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-envelope"></span>
                                        </div>
                                        <p><a href="mailto:example@email.com">example@email.com</a></p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-planning"></span>
                                        </div>
                                        <p>Mon - Sat: 9:00 AM - 5:00 PM
                                            <br> Sunday Close</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <div class="services-details__right">
                            <div class="services-details__img">
                                <img src="assets/images/services/services-details-img-2.jpg" alt="">
                            </div>
                            <h3 class="services-details__title-1">Human Resource</h3>
                            <p class="services-details__text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.</p>
                            <div class="services-details__img-and-feature">
                                <div class="services-details__feature-img">
                                    <img src="assets/images/services/services-details-feature-img-1.jpg" alt="">
                                    <div class="services-details__video-link">
                                        <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
                                            <div class="services-details__video-icon">
                                                <span class="fa fa-play"></span>
                                                <i class="ripple"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="services-details__feature">
                                    <h3 class="services-details__feature-title">Our Features:</h3>
                                    <p class="services-details__feature-text">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor.</p>
                                    <ul class="services-details__feature-points list-unstyled">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-project-management"></span>
                                            </div>
                                            <div class="content">
                                                <h3>Best Business consulting</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-customer-support"></span>
                                            </div>
                                            <div class="content">
                                                <h3>24/7 customer support</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="services-details__title-2">Benefits With Our Service:</h3>
                            <p class="services-details__text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                            <ul class="services-details__points list-unstyled">
                                <li>
                                    <p>1. Save Valuable Time</p>
                                </li>
                                <li>
                                    <p>2. Offer an Outsider’s Perspective</p>
                                </li>
                                <li>
                                    <p>3. Fill in Gaps in Your Knowledge</p>
                                </li>
                                <li>
                                    <p>4. Save Money</p>
                                </li>
                                <li>
                                    <p>5. Achieve Goals</p>
                                </li>
                                <li>
                                    <p>6. Offer Expertise</p>
                                </li>
                            </ul>
                            <h3 class="services-details__title-3">Our Work process</h3>
                            <div class="process-four">
                                <div class="row">
                                    <!--Process Four Single Start-->
                                    <div class="col-xl-3">
                                        <div class="process-four__single">
                                            <div class="process-four__shape-1"></div>
                                            <div class="process-four__count"></div>
                                            <h3 class="process-four__title">Identifying Problems</h3>
                                            <p class="process-four__text">Lorem Ipsum is simply dummy text of the
                                                printing and typesetting industry.</p>
                                        </div>
                                    </div>
                                    <!--Process Four Single End-->
                                    <!--Process Four Single Start-->
                                    <div class="col-xl-3">
                                        <div class="process-four__single">
                                            <div class="process-four__shape-1"></div>
                                            <div class="process-four__count"></div>
                                            <h3 class="process-four__title">Research Your Problem</h3>
                                            <p class="process-four__text">Lorem Ipsum is simply dummy text of the
                                                printing and typesetting industry.</p>
                                        </div>
                                    </div>
                                    <!--Process Four Single End-->
                                    <!--Process Four Single Start-->
                                    <div class="col-xl-3">
                                        <div class="process-four__single">
                                            <div class="process-four__shape-1"></div>
                                            <div class="process-four__count"></div>
                                            <h3 class="process-four__title">Solutions Your Problem</h3>
                                            <p class="process-four__text">Lorem Ipsum is simply dummy text of the
                                                printing and typesetting industry.</p>
                                        </div>
                                    </div>
                                    <!--Process Four Single End-->
                                    <!--Process Four Single Start-->
                                    <div class="col-xl-3">
                                        <div class="process-four__single">
                                            <div class="process-four__count"></div>
                                            <h3 class="process-four__title">Consultation With Experts</h3>
                                            <p class="process-four__text">Lorem Ipsum is simply dummy text of the
                                                printing and typesetting industry.</p>
                                        </div>
                                    </div>
                                    <!--Process Four Single End-->
                                </div>
                            </div>
                            <h3 class="services-details__title-4">Frequently asked questions</h3>
                            <div class="services-details__faq">
                                <div class="accrodion-grp" data-grp-name="services-details-accrodion">
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4><span>Q1.</span>What activities are done in the development?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>Follow these 6 steps and you’ll get your Help Scout account up and
                                                    running in no time. If you'd like to get a full tour of Help Scout
                                                    and
                                                    all its features, attend one of our weekly live demos or take a
                                                    video
                                                    tour.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion  active">
                                        <div class="accrodion-title">
                                            <h4><span>Q2.</span>How can i use landbook When should I use a Tag?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>Follow these 6 steps and you’ll get your Help Scout account up and
                                                    running in no time. If you'd like to get a full tour of Help Scout
                                                    and
                                                    all its features, attend one of our weekly live demos or take a
                                                    video
                                                    tour.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4><span>Q3.</span>Are social media good for the business growth?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>Follow these 6 steps and you’ll get your Help Scout account up and
                                                    running in no time. If you'd like to get a full tour of Help Scout
                                                    and
                                                    all its features, attend one of our weekly live demos or take a
                                                    video
                                                    tour.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4><span>Q4.</span>How often should i work on the digital marketing?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>Follow these 6 steps and you’ll get your Help Scout account up and
                                                    running in no time. If you'd like to get a full tour of Help Scout
                                                    and
                                                    all its features, attend one of our weekly live demos or take a
                                                    video
                                                    tour.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4><span>Q5.</span>What are the different types of marketing solutions?
                                            </h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>Follow these 6 steps and you’ll get your Help Scout account up and
                                                    running in no time. If you'd like to get a full tour of Help Scout
                                                    and
                                                    all its features, attend one of our weekly live demos or take a
                                                    video
                                                    tour.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Services Details End-->

        <!--Newsletter One Start -->
        <section class="newsletter-one">
            <div class="container">
                <div class="newsletter-one__inner">
                    <div class="newsletter-one__bg" style="background-image: url(assets/images/backgrounds/newsletter-one-bg.jpg);"></div>
                    <div class="newsletter-one__title-box">
                        <h3 class="newsletter-one__title">Our Newsletter</h3>
                    </div>
                    <div class="newsletter-one__form-box">
                        <form action="assets/inc/sendemail.php" class="newsletter-one__form contact-form-validated" novalidate="novalidate">
                            <div class="newsletter-one__input-box">
                                <input type="text" placeholder="Full Name" name="name">
                            </div>
                            <div class="newsletter-one__input-box">
                                <input type="email" placeholder="Email Here" name="email">
                            </div>
                            <div class="newsletter-one__btn-box">
                                <button type="submit" class="thm-btn newsletter-one__btn"><span class="icon-right-arrow"></span>Subscribe Now</button>
                            </div>
                        </form>
                        <div class="result"></div>
                    </div>
                </div>
            </div>
        </section>
        <!--Newsletter One End -->

        <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site-footer__shape-1 float-bob-x">
                <img src="assets/images/shapes/site-footer-shape-1.png" alt="">
            </div>
            <div class="site-footer__shape-2 float-bob-y">
                <img src="assets/images/shapes/site-footer-shape-2.png" alt="">
            </div>
            <div class="container">
                <div class="site-footer__top">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__column footer-widget__about">
                                <div class="footer-widget__logo">
                                    <a href="index.html"><img src="assets/images/resources/footer-logo.png" alt=""></a>
                                </div>
                                <p class="footer-widget__about-text">Eros vivamus platea nullam id consequat eu sociis
                                    lectus aliquam nibh auctor elitsed libero pharetra consequat and fad sociis conubia
                                    favorite to risus.</p>
                                <div class="site-footer__social">
                                    <a href="#"><i class="icon-facebook-app-symbol"></i></a>
                                    <a href="#"><i class="icon-twitter"></i></a>
                                    <a href="#"><i class="icon-instagram"></i></a>
                                    <a href="#"><i class="icon-linked-in-logo-of-two-letters"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget__usefull-link">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Useful Links</h3>
                                </div>
                                <div class="footer-widget__link-box">
                                    <ul class="footer-widget__link list-unstyled">
                                        <li><a href="contact.html">Our Support</a></li>
                                        <li><a href="about.html">System Status</a></li>
                                        <li><a href="about.html">Knowledge base</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="case-studie-1.html">Case Studies</a></li>
                                        <li><a href="contact.html">Contact us</a></li>
                                        <li><a href="contact.html">Write For Us</a></li>
                                    </ul>
                                    <ul class="footer-widget__link footer-widget__link-2 list-unstyled">
                                        <li><a href="about.html">Ebooks</a></li>
                                        <li><a href="about.html">Cloudways Users</a></li>
                                        <li><a href="about.html">Group</a></li>
                                        <li><a href="about.html">Customer Voice</a></li>
                                        <li><a href="about.html">affiliate</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__services">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Our Services</h3>
                                </div>
                                <ul class="footer-widget__link list-unstyled">
                                    <li><a href="startup-business.html">Startup Business</a></li>
                                    <li><a href="business-planning.html">Financial Advice</a></li>
                                    <li><a href="programe-manager.html">Managemant</a></li>
                                    <li><a href="business-planning.html">Business Advice</a></li>
                                    <li><a href="startup-business.html">Strategy Services</a></li>
                                    <li><a href="market-analysis.html">Market Analysis</a></li>
                                    <li><a href="human-resource.html">Human Resources</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__column footer-widget__instagram">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Instagram</h3>
                                </div>
                                <ul class="footer-widget__instagram-list list-unstyled clearfix">
                                    <li>
                                        <div class="footer-widget__instagram-img">
                                            <img src="assets/images/project/footer-widget-instagram-img-1.jpg" alt="">
                                            <a href="#"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__instagram-img">
                                            <img src="assets/images/project/footer-widget-instagram-img-2.jpg" alt="">
                                            <a href="#"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__instagram-img">
                                            <img src="assets/images/project/footer-widget-instagram-img-3.jpg" alt="">
                                            <a href="#"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__instagram-img">
                                            <img src="assets/images/project/footer-widget-instagram-img-4.jpg" alt="">
                                            <a href="#"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__instagram-img">
                                            <img src="assets/images/project/footer-widget-instagram-img-5.jpg" alt="">
                                            <a href="#"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__instagram-img">
                                            <img src="assets/images/project/footer-widget-instagram-img-6.jpg" alt="">
                                            <a href="#"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">© 2024
                            Copyright <a href="#">bizgrow.</a> | All rights reserved</p>
                        <ul class="list-unstyled site-footer__bottom-menu">
                            <li><a href="about.html">Privacy & Policy</a></li>
                            <li><a href="about.html">Terms of use</a></li>
                            <li><a href="about.html">Cookie Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="assets/images/resources/logo-2.png" width="145" alt=""></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@bizgrow.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here...">
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search-interface-symbol"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>


    <script src="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/odometer/odometer.min.js"></script>
    <script src="assets/vendors/swiper/swiper.min.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/timepicker/timePicker.js"></script>
    <script src="assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="assets/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="assets/vendors/marquee/marquee.min.js"></script>




    <!-- template js -->
    <script src="assets/js/bizgrow.js"></script>
</body>

</html>